/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.back {
  position: relative;
  height: 100vh;
  width: 100vw;
}
#particles-js {
  height: 100%;
  width: 100%;

  background-image: linear-gradient(rgb(15, 34, 77), rgb(71, 15, 15));
  background-size: cover;
  overflow: visible;
}

h1 {
  padding: 1rem 2rem;
  top: 50%;
  right: 50%;
  border-radius: 2rem;
  transform: translate(50%, -50%);
  position: absolute;
  line-height: 2;
  /* width: 20vw; */
  margin: auto;
  text-align: center;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  background: white;
  transition: all 0.3s ease-in-out;
}
h1:hover {
  font-size: 3.1rem;
  text-shadow: 0 2px 5px rgb(253, 22, 22);
}

/* Global Style */
footer {
  background: rgb(71, 15, 15);
}
footer div {
  font-size: 2rem;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
}
footer h5 {
  font-family: "Pattaya", sans-serif;
  color: white;
  flex: 1 1 30rem;
}
footer ul {
  color: white;

  display: flex;
  list-style: none;
  flex: 1 1 30rem;
  justify-content: space-between;
  align-items: center;
}

footer i {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
  h1 {
    /* width: 40%; */
    font-size: 2rem;
  }
  h1:hover {
    font-size: 2.1rem;
  }
}
